.vue-select{
    position: relative;
}
.vue-select-btn{
    text-align: left;
    position: relative;
}
.vue-select-btn .caret{
    position: absolute;
    right: 10px;
    top: 14px;
}
.vue-select-options-div{
    position: relative;
    max-height: 200px;
    overflow: scroll;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}
.vue-select-options-ul{
    position: static;
    float: none;
    display: block;
    min-width: 0!important;
    margin: 0;
    border: none;
}
.vue-select-option-curr{
    background: #f5f5f5;
}