.vue-datepicker{
    position: relative;
    display: inline-block;
}
.vue-datepicker-input{
    width: 186px;
}
.vue-datepicker-popup{
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
    background: #fff;
    margin-top: 2px;
    z-index: 1000;
}
.vue-datepicker-inner{
    width: 218px;
    border: 1px solid #ccc;
}
.vue-datepicker-body{
    padding: 5px 10px;
}
.vue-datepicker-body span{
    display: inline-block;
    width: 28px;
    line-height: 28px;
    height: 28px;
    text-align: center;
    cursor: pointer;
}
.vue-datepicker-item-gray{
    color: #999;
}
.vue-datepicker-item-red{
    color: #ff5555;
}
.vue-datepicker-dateRange span{
}
.vue-datepicker-dateRange span:hover, .vue-datepicker-dateRange-item-hover{
    background-color : #dbebff;
}
.vue-datepicker-weekRange{
    border-bottom: 1px solid #ccc;
}
.vue-datepicker-label{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 700;
    padding: 7px 0;
    text-align: center;
}
.vue-datepicker-ctrl{
    position: relative;
    height: 30px;
    line-height: 30px;
    color: #3775c0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.vue-datepicker-ctrl i{
    position: absolute;
    cursor: pointer;
    top: 1px;
}
.vue-month-btn{
	font-weight: bold;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.vue-datepicker-preMonthBtn{
    left: 4px;
}
.vue-datepicker-nextMonthBtn{
    right: 4px;
}
